doctype html
html
  head
    meta(charset="text/html; charset=utf-8" http-equiv="Content-Type")
    meta( name="viewport", content="initial-scale=1, minimum-scale=1, maximum-scale=1")
    title Chat
    link(rel="stylesheet", href="stylesheets/main.css")
    script(type="text/javascript" src="/javascripts/lib/jquery-1.11.0.min.js")
    //script(type="text/javascript" src="/javascripts/lib/jquery.mobile-1.4.5.min.js")

  body
    div(class="chat-wrap", id="chat-wrap")
      div(class="name")
        input(tabindex="text", id="sender-name", class="chat-name", value = sender )
        input(tabindex="text", id="receiver-name", class="chat-name", value = receiver )

      div(class="chat-message-wrap")
        div(class="chat-messages", id="chat-message-id")

      div(id="chat-textarea-wrap",class="chat-textarea-wrap")
        textarea(id="chat-textarea",class="chat-textarea", cols=2, rows=1 ,, user-scalable=0)
      div(class="chat-status") Status:
        span Idle

      script(type="text/javascript" src="http://52.68.38.24/socket.io/socket.io.js")
      script(type="text/javascript" src="/javascripts/lib/jquery.form.min.js")
      script(type="text/javascript" src="/javascripts/lib/jquery.lazyload.min.js")
      script(type="text/javascript" src="/javascripts/lib/modernizr_2.8.3.min.js")
      script(type="text/javascript" src="/javascripts/lib/owl.carousel.min.js")
      script(type="text/javascript" src="/javascripts/lib/util.js")
      script(type="text/javascript" src="/javascripts/chat.js")